# To generate your own firebase-adminsdk access go to: https://console.firebase.google.com/project/_/settings/serviceaccounts/adminsdk?authuser=2 and download your .json file
rename it to "firebase-adminsdk.json", copy and paste in src folder of this project

{
  "type": "",
  "project_id": "",
  "private_key_id": "",
  "private_key": "",
  "client_email": "",
  "client_id": "",
  "auth_uri": "",
  "token_uri": "",
  "auth_provider_x509_cert_url": "",
  "client_x509_cert_url": ""
}
